@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";


@theme {
  --color-bg:           #0A1628;
  --color-bg-card:      #0A1628;
  --color-bg-sidebar:   #0D1C35;
  --color-bg-input:     #0F2040;

  --color-accent:       #F97316;
  --color-accent-hover: #EA6C0A;

  --color-border:       #1A2F50;

  --color-text-primary: #F8FAFC;
  --color-text-muted:   #7B92B2;
  --color-text-faint:   #1E3358;

  --font-display: 'Open Sans', sans-serif;
  --font-body:    'Open Sans', sans-serif;

  --sidebar-width: 300px;
}

body {
  background-color: var(--color-bg);
  overflow-x: hidden;
}

/* Light mode overrides */
body.light {
    --color-bg: #F8F9FA;
    --color-bg-card: #FFFFFF;
    --color-bg-sidebar: #FFFFFF;
    --color-bg-input: #F1F3F5;
    --color-border: #DEE2E6;
    --color-text-primary: #0A1628;
    --color-text-muted: #495057;
    --color-text-faint: #CCD5E0;
}